<header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #ffe887;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="https://cdn-icons-png.flaticon.com/512/1295/1295181.png"alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <h2 class="navbar-brand"> Le plus beau site</h2>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/addresses}">Addresses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/greeting}">Greetings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/addresse}">Regarder la météo chez vous</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>